* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Rockwell, Courier Bold, Courier, Georgia, Times, Times New Roman, Serifenschrift;
    font-style: normal;

}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    justify-content: center;
    align-items: center;

}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}


    .image-container {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    #bgimage {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }


    .image-container {
        display: none; /* Initially hide the image */
    }

.video-container {
    opacity: 1; /* Video ist anfangs sichtbar */
    /* Kein Übergang hier */
}

.scroll-container {
    position: relative;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
}

.step > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    color: #fff;
    font-family: 700;
    font-size: 40px;
    text-shadow: 2px 2px #000;
    opacity: 1;
}

.content {
    opacity: 0;
    /* Kein Übergang für Inhalte */
}

.content.visible {
    opacity: 1;
}

.text-container {
    font-size: 10rem;
    opacity: 0; /* Startpunkt für das Einfaden */
    transform: scale(0.5); /* Startgröße */
}



#smooth-content {
    will-change: transform;
  }
  
  .text > h1 {
    max-width: 90vw;
    padding-left: 90px;
    padding-right: 50px;
    margin: auto;
    line-height: 1.2;
    font-size: 50px;
    color: #3F2415;
    text-shadow: #000;
    scrollbar-shadow-color: #000;
    
  }
  
  
  
  .mask {
    width: 100%;
    height: 115%;
    position: absolute;
    background: #3F2415;
    left: 0;
    top: 0;
    opacity: 0.8;
  }
  
  .red {
    color: red;
  }


  .split-word {
    position: relative;
    font-size: large;
  }
  .line-mask {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #0d0d0d;
    opacity: 0.8;
    height: 100%;
    width: 100%;
    z-index: 2;
  }