@font-face {
  font-family: "Jungle_Roar";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/127738/Jungle_Roar_Bold.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Schoolbell';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/schoolbell-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  box-sizing: border-box;
}

p {
  font-family: 'Schoolbell';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/schoolbell-v18-latin-regular.woff2') format('woff2');
}

.bodyteilfünf {
  background: #00211c;
  font-family: 'Schoolbell';
  height: 400vh;
  width: 100vw;
}

.bodyteilfünfzwei {
  background: #e7dc94;
  font-family: 'Schoolbell';
  height: 200vh;
  width: 100vw;

}

.weeeg {
  position: fixed;
  top: 0vh;
  left: -30vw;
  right: -30vw;
}

#animatedPath {
  stroke: #5C4033;
  z-index: 1;
  stroke-width: 200;

}


.rightLeave,
.leftLeave {
  position: absolute;
  bottom: 0;
  z-index: 10;
}

.rightLeave {
  margin-left: 70%;
  transform: translateX(-50%);
}

.leftLeave {

  transform: translateX(50%) scale(-1, 1);
}



.textitext {
  font-size: 7rem;
  font-family: "Jungle_Roar";
  color: #e7dc94;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}




