* {
    box-sizing: border-box;
  }
  :root {
    --size: 90;
    --ar: calc(194.8 / 596.69);
    --coeff: 1vmin;
    --width: calc(var(--size) * var(--coeff));
    --height: calc((var(--size) * var(--ar)) * var(--coeff));
   
    --color: #1c1c1c;
    --body: #eec28c;
    --nose: #eca08e;
    --cap: #e63244;
    --cap-accent: #ff4040;
    --hair: #ffda40;
    --shirt-one: #e63244;
    --shirt-two: #dd6262;
    --short-one: #dd6262;
    --short-two: #931910;
    --shoe: #0d0d0d;
    --sole: #9e7e6b;
    --logo: #fff;
    --cheek: rgba(226,156,151,0.5);
    --pupil: #f2f2f2;
    --mouth: #1a1a1a;
  }
  
  body {
    width: 100vw;
    font-family: sans-serif;
    overflow-x: hidden;
  }
  
  h1 {
    font-size: 2rem;
    font-weight: 800;
    color: var(--color);
  }
  
  .background-zwei {
    background-image: url(assets/backround.png);
  }
  
  
  
  /*body {
    background-image: 
      url(waldNeu.png), /* Vordergrundbild 
      url(./backround.png); /* Hintergrundbild 
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
    background-size: contain, cover;
  }*/
  
  .cap {
    fill: var(--cap);
  }
  .cap__accent {
    fill: var(--cap-accent);
  }
  .marionette {
    height: 100%;
    width: 100%;
  }
  .marionette__shoe {
    fill: var(--shoe);
  }
  .marionette__sole {
    fill: var(--sole);
  }
  .marionette__shirt-one {
    fill: var(--shirt-one);
  }
  .marionette__shirt-two {
    fill: var(--shirt-two);
  }
  .marionette__short-one {
    fill: var(--short-one);
  }
  .marionette__short-two {
    fill: var(--short-two);
  }
  .marionette__cheek {
    fill: var(--cheek);
  }
  .marionette__mouth,
  .marionette__eye circle:nth-of-type(1) {
    fill: var(--mouth);
  }
  .marionette__pupil {
    fill: var(--pupil);
  }
  .marionette__hair {
    fill: var(--hair);
  }
  .marionette__logo {
    stroke: var(--logo);
  }
  .marionette__body {
    fill: var(--body);
  }
  .marionette__container {
    width: var(--width);
    position: fixed;
    height: var(--height);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: 90% 50%;
  }
  .marionette__nose {
    position: absolute;
    top: 36%;
    right: 15.5%;
    width: 0;
    height: 2.5vmin;
    background: var(--nose);
  }
  .marionette__nose:after,
  .marionette__nose:before {
    content: '';
    position: absolute;
    height: 2.5vmin;
    width: 2.5vmin;
    border-radius: 50%;
    background: var(--nose);
  }
  .marionette__nose:after {
    left: 0;
    transform: translate(-50%, 0);
  }
  .marionette__nose:before {
    transform: translate(50%, 0);
    right: 0;
  }
  
  .story {
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
  }
  .story__content {
    position: absolute;
    width: var(--width);
    left: 50%;
    transform: translate(-50%, var(--y));
  }
  .story__content--bottom {
    top: 50%;
    --y: calc(0% + (var(--height) / 2));
  }
  .story__content--top {
    bottom: 50%;
    --y: calc(0% - (var(--height) / 2));
  }
  .story__content--bottom .blurb {
    top: 0;
  }
  .story__content--top .blurb {
    bottom: 0;
  }
  .blurb {
    position: absolute;
    visibility: hidden;
  }
  .blurb--two .word,
  .blurb--three .word,
  .blurb--four .word {
    opacity: 0;
  }