:root {
  --size: 90;
  --ar: calc(194.8 / 596.69);
  --coeff: 1vmin;
  --width: calc(var(--size) * var(--coeff));
  --height: calc((var(--size) * var(--ar)) * var(--coeff));

}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Schoolbell';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/schoolbell-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


h1 {
  font-family: 'Schoolbell';
}





.storyend {
  background-color: rgb(0, 0, 0);

  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
}

.storyend__content {
  color: #ad2020;
  position: absolute;
  width: var(--width);
  text-align: center;
  left: 50%;
  transform: translate(-50%, var(--y));
}

.storyend__content--bottom {

  text-align: center;
  top: 50%;
  --y: calc(0% + (var(--height) / 4));
}

.storyend__content--top {

  bottom: 50%;
  text-align: center;
  --y: calc(0% - (var(--height) / 4));
}

.storyend__content--bottom .blurbend {
  top: 0;
}

.storyend__content--top .blurbend {
  bottom: 0;
}

.blurbend {
  position: absolute;
  visibility: hidden;
}

.blurbend--two .word,
.blurbend--three .word,
.blurbend--four .word {
  opacity: 0;
}

<<<<<<< HEAD

button {
  font: 40px 'Cinzel', serif;
  display: block;
  margin-top: 700px;
  margin-left: 700px;
  padding: 20px 30px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid #f7f4f4;
  border-radius: 10px;
  cursor: pointer;
  
  transition-delay: 3s;
transition-property:border;
  z-index: 1;
  letter-spacing: 0.15em;

  font-family: 'Schoolbell';
=======
.sos {
  height: 700vh;
}


.endeschrift {
  fill: none;
  stroke: #cbcbab;
  stroke-miterlimit: 10;
  stroke-width: 2px;
>>>>>>> bb04999473f903afd9aad7d71866efca15c08e63
}