body {
    margin: 0;
    padding: 0;
    font-family: "Canva Sans", Arial, Helvetica, sans-serif;
}

.wrapper {
    position: relative;
}

svg {
    display: block;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
}

.scrollElement {
    position: absolute;
    height: 6000px;
    width: 100%;
    top: 0;
    z-index: 4;
}

section
{
    height: 100vh;
    display: flex ;
    align-items: center;
    justify-content: center;
}

.container{
    overflow: hidden;
    border: solid 2px black;
    
}

/* MARK: ---0-490 Mobile */
@media (max-width: 490px) {

    #text,
    #arrow {
        transform-origin: 50% 50%;
        transform: translateY(-120px) scale(0.8);
    }

    #info2 {
        transform-origin: 50% 50%;
        transform: translateY(-120px) scale(0.8);
    }
}

.text-container {
    overflow: hidden;
}



.line {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 5s forwards, fadeOut 2s forwards 5s;
}
.line:nth-child(2) {
    animation-delay: 1s;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.line2 {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 5s forwards, fadeOut 2s forwards 5s;
}
.line:nth-child(2) {
    animation-delay: 3s;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

